.parent {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	gap: 3px 3px;
	padding: 10px;

	.label {
		border-radius: 10px;
		writing-mode: vertical-rl;
		text-orientation: mixed;
		transform: rotate(180deg);
		display: flex;
		justify-content: center;
		align-items: center;
		grid-column: span 1;
		grid-row: span 12;
		font-size: 70px;
		background: rgba(60, 60, 60, 0.512);
		color: white;
		grid-row-start: 1;
		grid-row-end: 13;
		grid-column-start: 1;
	}
}